* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {
    border: 2px solid black;
    margin: 2em;
}

header {
    height: 300px;
    width: 85%;
    margin: 5em auto;
    border: 1px solid lightskyblue;
}